<div class="pad" *ngIf="note" style="margin-left: 70%; position: fixed;">
  <h2>Modify</h2>
  <div class="col">
    <label>Title</label>
    <input type="text" [(ngModel)]="note.title" style="width: 100%;"/>
  </div>
  <div class="col">
    <label>Text</label>
    <textarea rows="5" [(ngModel)]="note.text" style="width: 100%;"></textarea>
  </div>
  <div class="col">
    <button (click)="addNote()">Add</button>
    <button (click)="deleteNote()" [disabled]="note === new_note">Delete</button>
  </div>
</div>
