ul, li {
  list-style: none;
  color: black;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

p {
  font-weight: normal;
  font-size: 1rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  background: #ffc;
  height: 14em;
  width: 14em;
  padding: 1em;
  margin: 1em;
}

ul li:hover, ul li:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  transform: scale(1.1);
}
