.notes {
  list-style: none;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.notes li {
  background: #ffc;
  height: 14em;
  width: 14em;
  padding: 1em;
  margin: 1em;
  cursor: context-menu;
}

.notes li:hover, .notes li:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  transform: scale(1.1);
}

.notes li.selected {
  background: #444;
  color: #ffc;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

p {
  font-weight: normal;
  font-size: 1rem;
}
